<html>
<body>
    <form method="POST" action="/index.php/AEVidmatededuction">
     <select name="selectProduct" id="selectProduct">
      <option value="ae">ae</option>
      <option value="ae_gp">ae_gp</option>
      <option value="ae_ios">ae_ios</option>
      <option value="vidmate">vidmate</option>
      <option value="uc">uc</option>
      <option value="9apps_555">9apps_555</option>
      <option value="9apps_802">9apps_802</option>
      <option value="9apps_803">9apps_803</option>
      <option value="9apps_805">9apps_805</option>
      <option value="9apps_809">9apps_809</option>
    </select>
    <select name="selectYear" id="selectYear">
      <option value="2016">2016</option>
      <option value="2017">2017</option>
    </select>
    <select name="selectMonth" id="selectMonth">
      <option value="01">01</option>
      <option value="02">02</option>
      <option value="03">03</option>
      <option value="04">04</option>
      <option value="05">05</option>
      <option value="06">06</option>
      <option value="07">07</option>
      <option value="08">08</option>
      <option value="09">09</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    <input type="submit" name= "Submit" value="Submit">
    </form>
</body>
</html>
